@charset "utf-8";
/* 헤더 */
.header {
  position: relative;
  width: 100%;
  height: 80px;
  /* background-color: #ddd; */
  display: flex;
  justify-content: flex-start;
  padding: 24px 30px;
  z-index: 9999;
}
.logo {
  width: 200px;
  margin-right: 24px;
}
.logo img {
  width: 100%;
}

/* 네비 */
nav {
  width: 800px;
}
.top-menu {
  display: flex;
  gap: 24px;
}
.top-menu a {
  position: relative;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
.top-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  opacity: 0;
  height: 1.5px;
  background-color: #fff;
  transition: 0.3s ease;
}
.top-menu a:hover::after {
  opacity: 1;
}

/* 상단 오른쪽(서치,아이콘) */
.top-right {
  padding-right: 30px;
  position: absolute;
  right: 0;
  width: 400px;
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}
.top-r {
  display: flex;
  gap: 24px;
  font-size: 24px;
}
.top-right i {
  color: #fff;
  line-height: 24px;
}
.top-right input {
  all: unset;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.top-right input:focus::placeholder {
  opacity: 0;
}
.top-right ::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.search-box {
  border: 1.3px solid #fff;
  border-radius: 5px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: -8px;
  right: 140px;
}
.search-box a {
  line-height: 18px;
}
.search-box i {
  font-size: 18px;
}
/*  */
/*  */
/*  */
/* 768 */
.tablet-menu{
  display: none;
  gap: 24px;
  font-size: 21px;
  
}
.tablet-menu i {
  color: #fff;
  opacity: 80%;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  nav,
  .top-right,
  .mobile-menu{
    display: none;
  }
  .header{
    justify-content: space-between;
  }
  .tablet-menu{
    display: flex;
  }
}
/*  */
/*  */
/*  */
/* 390 */
.mobile-menu i{
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 768px){
  .logo{
    width: 100px;
  }
  .header{
    padding: 16px;
  }
  .tablet-menu{
    display: none;
  }
  .mobile-menu{
    display: block;
  }
}