@charset "utf-8";
@import url(header.css);
@import url(section-perfume.css);
@import url(section-rattan.css);
@import url(section-home.css);
@import url(section-store.css);
@import url(visual.css);
@import url(footer.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1d1d1d;
  display: block;
}
i {
  display: block;
  width: 1rem;
  color: #1d1d1d;
}
img {
  display: block;
}
.wrap {
  margin: auto;
  width: 100%;
  max-width: 1920px;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  position: relative;
}

