* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1d1d1d;
  display: block;
}
i {
  display: block;
  width: 1rem;
  color: #1d1d1d;
}
img {
  display: block;
}
.wrap {
  margin: auto;
  width: 100vw;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  position: relative;
}
/*  */
.modal {
  position: fixed;
  z-index: 99999999;
  top: 16px;
  right: 30px;
  width: 500px;
  height: 640px;
  background-color: #fff;
  border-radius: 5px;
  display: none;
  box-shadow: 1px 1px 3px #999;
}
.modal-content {
  width: 100%;
  height: 100%;
}
#closeBtn {
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
}
.modal-main {
  width: 100%;
  text-align: center;
}
.modal-main img {
  margin: auto;
  width: 70%;
  position: relative;
}
.gift {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 110px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px 11px;
  border-radius: 30px;
}
.gift i {
  color: #fff;
  font-size: 14px;
}
.gift h4 {
  font-weight: 500;
  color: #fff;
  font-size: 12px;
}
.modal-main h5 {
  padding: 32px 0 8px;
  font-size: 20px;
  font-weight: 500;
}
.modal-main span {
  font-weight: 500;
  font-size: 16px;
  color: #888;
}
.modal-main p {
  padding: 18px 0 24px;
  font-size: 16px;
  line-height: 1.5;
}
.modal-main > p > span {
  color: #1d1d1d;
  text-decoration: underline;
}
#event {
  all: unset;
  display: block;
  margin: auto;
  width: 80%;
  padding: 14px 0;
  background-color: #1d1d1d;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}
#event i {
  color: #fff;
}
#modal-logo {
  width: 20%;
  padding: 20px 0 0;
}
/*  */
/* 390 */
@media screen and (max-width: 550px) {
  .modal {
    top: 60px;
    right: 50%;
    transform: translateX(50%);
    width: 350px;
    height: 465px;
  }
  .gift {
    top: 45px;
    left: 65px;
  }
  .gift i {
    font-size: 12px;
  }
  .gift h4 {
    font-size: 10px;
  }
  #closeBtn {
    font-size: 12px;
  }
  .modal-main h5 {
    padding: 24px 0 5px;
    font-size: 16px;
    font-weight: 500;
  }
  .modal-main span {
    font-weight: 500;
    font-size: 12px;
    color: #888;
  }
  .modal-main p {
    padding: 12px 0 18px;
    font-size: 12px;
    line-height: 1.5;
  }
  #event {
    padding: 10px 0;
    background-color: #1d1d1d;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  #modal-logo {
    width: 20%;
    padding: 14px 0 0;
  }
}
/*  */
/*  */
/*  */
/* modal */
.modalWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999999999999999999;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.modalWrap.none {
  opacity: 0;
  visibility: hidden;
}
.modalBox {
  width: 950px;
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 2%;
}
.modalLogo {
  width: 20%;
  margin: 5% auto;
}
.modalLogo img {
  width: 100%;
}
.modalDscr {
  padding: 0 5%;
  font-weight: 500;
}
.modalDscr strong {
  font-weight: 800;
}
.points {
  padding: 5%;
  line-height: 2.3;
}
.points li {
  font-size: 0.9rem;
  font-weight: 500;
  color: #7b7b7b;
}
#modalClose {
  all: unset;
  margin-bottom: 3%;
  border-radius: 30px;
  font-size: 0.8rem;
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width:1000px) {
  .modalBox{
    width: 700px;
  }
  .points{
    padding: 5% 8%;
  }
}
@media screen and (max-width:768px){
.modalBox{
    width: 500px;
  }
  .modalLogo {
  width: 30%;
}
}
@media screen and (max-width:550px){
.modalBox{
    width: 350px;
  }
  .modalDscr,
  .points{
    font-size: 0.8rem;
    line-height: 1.7;
  }
  .points li{
    font-size: 0.75rem;
  }
}