@charset "utf-8";
.home-wrap{
    width: 100vw;
    display: flex;
    gap: 24px;
}
/* 왼쪽영역 */
.home-left{
    width: 40vw;
}
.home-left img{
    width: 100%;
    aspect-ratio: 3/4;
}
/* 오른쪽영역 */
.home-right{
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 30%;

}
.home-txt a{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 22px;
}
.home{
    color: #1d1d1d;
    font-size: 22px;
    font-weight: 500;
}
.home-txt .arrow{
    width: 22px;
}
.home-list{
    display: flex;
    gap:16px;
    padding-right: 24px;
    margin-bottom: px;
}
.home-list li{
    width: calc(100% / 5);
}
.home-list img {
    width: 100%;
    transition: all 0.3s;
}
.home-list img:hover{
    filter: brightness(80%);
}