@charset "utf-8";
.perfume-wrap {
  width: 100%;
}
/* 퍼퓸상단 */
.perfume-top {
  padding: 35px;
  position: relative;
}
.p-top {
  display: flex;
  gap: 24px;
}
.p-top li {
  width: calc(100% / 3);
}
.perfume-txt {
  width: 100vw;
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  left: 35px;
  bottom: 35px;
}
.perfume {
  color: #1d1d1d;
  font-size: 20px;
  font-weight: 600;
}
.p-img img {
  width: 100%;
}
/* 퍼퓸하단 */
.perfume-bottom {
  padding: 0 16px;
}
.perfume-list {
  width: 100%;
  display: flex;
  gap: 16px;
  margin-bottom: 60px;
}
.perfume-list li {
  width: calc(100% / 13);
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.perfume-list a {
  height: 100%;
}
.perfume-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 70%;
  transition: all 0.3s;
}
.perfume-list img:hover {
  filter: brightness(80%);
}
