@charset "utf-8";
.perfume-wrap{
    margin-top: var(--visual-height);
    width: 100%;
    position: relative;
}
/* 퍼퓸상단 */
.perfume-top{
    padding: 35px;
}
.p-top{
    display: flex;
    gap: 24px;
}
.p-top li{
    width: calc(100% / 3);
}
.perfume-txt{
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    position: absolute;
    left: 35px;
    bottom: 35px;
}
.perfume{
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 500;
}
.p-img img{
   width: 100%;
}