@charset "utf-8";
@import url(header.css);
@import url(footer.css);
@import url(blueHinoki.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #1d1d1d;
  display: block;
}
i {
  display: block;
  width: 1rem;
  color: #1d1d1d;
}
img {
  display: block;
}
.wrap {
  margin: auto;
  width: 100vw;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  position: relative;
}
/*  */
.store-contents-wrap {
  width: 100vw;
}
.store-inner {
  width: 70%;
  margin: auto;
}
.store-title {
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding: 100px 0 16px;
  z-index: 9;
}
.s-title-inner{
  display: flex;
  gap: 24px;
  align-items: center;
}
.store-title h1 {
  font-size: 20px;
  font-weight: 500;
}
.store-list {
  display: flex;
  gap: 10px;
  align-items: center;
}
.store-list li {
  padding: 0 20px;
  line-height: 34px;
  background-color: #efefef;
  border-radius: 30px;
  font-size: 13px;
  color: #999;
  cursor: pointer;
}
.store-list li.active {
  color: #fff;
  background-color: #1d1d1d;
}
.store-title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #efefef;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* contents */
.hannam{
  padding: 190px 0 0;
}
.stores-txt{
padding: 32px 0 100px;
display: flex;
justify-content: space-between;
}
.stores-txt-l{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.stores-txt-l h5{
  font-size: 16px;
  font-weight: 500;
}
.stores-txt-l span{
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.stores-txt-r{
  font-size: 14px;
  line-height: 28px;
  text-align: end;
}
